<a href="https://colab.research.google.com/github/JinLeeGG/Survival-Prediction-Model-for-AML-using-Gene-Expression-Data-from-TCGA/blob/main/Data_Analysis_Process.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

https://gdc.cancer.gov/about-data/publications/laml_2012

In [ ]:
# import libraries
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
# inspecting a clinical dataset
df = pd.read_csv('/content/drive/MyDrive/Acute Myeloid Leukemia (TCGA, PanCancer Atlas)/datasets/clinical_patient_laml.tsv', sep='\t', index_col=0)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 200 entries, TCGA-AB-2802 to TCGA-AB-3012
Data columns (total 77 columns):
 #   Column                                                                   Non-Null Count  Dtype
---  ------                                                                   --------------  -----
 0   acute_myeloid_leukemia_calgb_cytogenetics_risk_category                  200 non-null    object
 1   age_at_initial_pathologic_diagnosis                                      200 non-null    int64
 2   atra_exposure                                                            200 non-null    object
 3   bcr_patient_uuid                                                         200 non-null    object
 4   cumulative_agent_total_dose                                              200 non-null    object
 5   cytogenetic_abnormality                                                  200 non-null    object
 6   cytogenetic_abnormality_other                                            200 non-null    object
 7   cytogenetic_analysis_performed_ind                                       200 non-null    object
 8   date_of_form_completion                                                  200 non-null    object
 9   date_of_initial_pathologic_diagnosis                                     200 non-null    object
 10  days_to_birth                                                            200 non-null    int64
 11  days_to_death                                                            200 non-null    object
 12  days_to_initial_pathologic_diagnosis                                     200 non-null    int64
 13  days_to_last_followup                                                    200 non-null    object
 14  days_to_last_known_alive                                                 200 non-null    object
 15  diagnosis_age                                                            200 non-null    object
 16  disease_detection_molecular_analysis_method_type                         200 non-null    object
 17  disease_detection_molecular_analysis_method_type_other_text              200 non-null    object
 18  eastern_cancer_oncology_group                                            200 non-null    object
 19  ethnicity                                                                200 non-null    object
 20  fish_evaluation_performed_ind                                            200 non-null    object
 21  fluorescence_in_situ_hybrid_cytogenetics_metaphase_nucleus_result_count  200 non-null    object
 22  fluorescence_in_situ_hybridization_abnormal_result_indicator             200 non-null    object
 23  gender                                                                   200 non-null    object
 24  hydroxyurea_administration_prior_registration_clinical_study_indicator   200 non-null    object
 25  hydroxyurea_agent_administered_day_count                                 200 non-null    object
 26  icd_10                                                                   200 non-null    object
 27  icd_o_3_histology                                                        200 non-null    object
 28  icd_o_3_site                                                             200 non-null    object
 29  immunophenotype_cytochemistry_percent_positive                           200 non-null    object
 30  immunophenotype_cytochemistry_testing_result                             200 non-null    object
 31  informed_consent_verified                                                200 non-null    object
 32  initial_pathologic_diagnosis_method                                      200 non-null    object
 33  karnofsky_performance_score                                              200 non-null    object
 34  lab_procedure_abnormal_lymphocyte_result_percent_value                   200 non-null    object
 35  lab_procedure_blast_cell_outcome_percentage_value                        200 non-null    int64
 36  lab_procedure_bone_marrow_band_cell_result_percent_value                 200 non-null    object
 37  lab_procedure_bone_marrow_basophil_result_percent_value                  200 non-null    float64
 38  lab_procedure_bone_marrow_blast_cell_outcome_percent_value               200 non-null    int64
 39  lab_procedure_bone_marrow_cellularity_outcome_percent_value              200 non-null    object
 40  lab_procedure_bone_marrow_diff_not_reported_reason                       200 non-null    object
 41  lab_procedure_bone_marrow_lab_eosinophil_result_percent_value            200 non-null    float64
 42  lab_procedure_bone_marrow_lymphocyte_outcome_percent_value               200 non-null    int64
 43  lab_procedure_bone_marrow_metamyelocyte_result_value                     200 non-null    int64
 44  lab_procedure_bone_marrow_myelocyte_result_percent_value                 200 non-null    int64
 45  lab_procedure_bone_marrow_neutrophil_result_percent_value                200 non-null    int64
 46  lab_procedure_bone_marrow_prolymphocyte_result_percent_value             200 non-null    int64
 47  lab_procedure_bone_marrow_promonocyte_count_result_percent_value         200 non-null    int64
 48  lab_procedure_bone_marrow_promyelocyte_result_percent_value              200 non-null    int64
 49  lab_procedure_hematocrit_outcome_percent_value                           200 non-null    object
 50  lab_procedure_hemoglobin_result_specified_value                          200 non-null    object
 51  lab_procedure_leukocyte_result_unspecified_value                         200 non-null    object
 52  lab_procedure_monocyte_result_percent_value                              200 non-null    int64
 53  lab_procedure_platelet_result_specified_value                            200 non-null    int64
 54  leukemia_french_american_british_morphology_code                         200 non-null    object
 55  leukemia_specimen_cell_source_type                                       200 non-null    object
 56  molecular_analysis_abnormal_result_indicator                             200 non-null    object
 57  molecular_analysis_abnormality_testing_percentage_value                  198 non-null    object
 58  molecular_analysis_abnormality_testing_result                            198 non-null    object
 59  molecular_analysis_performed_indicator                                   200 non-null    object
 60  patient_id                                                               200 non-null    int64
 61  performance_status_assessment_timepoint_category_other_text              200 non-null    object
 62  performance_status_scale_timing                                          200 non-null    object
 63  person_history_leukemogenic_agent_other_exposure_text                    200 non-null    object
 64  person_history_nonmedical_leukemia_causing_agent_type                    49 non-null     object
 65  pretreatment_history                                                     200 non-null    object
 66  primary_other_site_of_disease_name                                       200 non-null    object
 67  prior_diagnosis                                                          200 non-null    object
 68  prior_hematologic_disorder_diagnosis_indicator                           200 non-null    object
 69  race                                                                     200 non-null    object
 70  steroid_therapy_administered                                             200 non-null    object
 71  tissue_source_site                                                       200 non-null    object
 72  total_dose_units                                                         200 non-null    object
 73  tumor_tissue_site                                                        200 non-null    object
 74  vital_status                                                             200 non-null    object
 75  FISH_test_component                                                      154 non-null    object
 76  FISH_test_component_percentage_value                                     154 non-null    object
dtypes: float64(2), int64(15), object(60)
memory usage: 121.9+ KB

In [ ]:
# 파일 경로를 변수에 저장하여 코드를 깔끔하게 만듭니다.
file_path = '/content/drive/MyDrive/Acute Myeloid Leukemia (TCGA, PanCancer Atlas)/datasets/laml.rnaseq.179_v1.0_gaf2.0_read_count_matrix.txt.tcgaID.txt'


rnaseq = pd.read_csv(file_path, sep='\t',index_col=0)
# rnaseq.index = rnaseq.index.str.split('|').str[1]
rnaseq.index = rnaseq.index.str.replace('_calculated', '')

rnaseq

,TCGA-AB-2803,TCGA-AB-2807,TCGA-AB-2963,TCGA-AB-2826,TCGA-AB-2867,TCGA-AB-2818,TCGA-AB-2808,TCGA-AB-2853,TCGA-AB-2854,TCGA-AB-2822,...,TCGA-AB-2949,TCGA-AB-2981,TCGA-AB-2999,TCGA-AB-2896,TCGA-AB-2952,TCGA-AB-2920,TCGA-AB-2841,TCGA-AB-2811,TCGA-AB-2979,TCGA-AB-2977
GeneID,,,,,,,,,,,,,,,,,,,,,
?|100132510,14.00,4.00,31.82,32.00,5.00,0.00,0.00,0.00,30.42,4.00,...,19.54,56.00,22.00,17.00,3.00,0.00,15.00,15.00,0.90,36.00
?|100134860,339.42,382.66,198.44,113.44,218.28,177.32,233.36,268.30,178.88,543.92,...,684.04,238.28,540.18,837.32,560.84,663.38,783.04,1056.46,853.70,591.32
?|10357,5.00,2.00,8.98,26.12,23.66,5.00,9.20,14.00,3.98,6.28,...,1.00,4.74,7.90,5.80,5.36,0.00,6.00,2.00,2.50,20.46
?|10431,1638.14,788.50,2078.18,1253.20,633.58,1065.06,1241.54,1658.58,1464.00,674.76,...,975.66,1087.08,2183.28,1331.26,1168.14,1488.88,1343.04,4892.32,1009.80,2349.76
?|114130,23.72,980.76,60.28,35.76,203.26,172.26,123.72,48.52,28.86,158.34,...,197.40,105.52,119.48,85.06,143.40,339.22,149.18,212.96,156.58,54.70
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ZYX|7791,9613.40,7733.44,17099.60,21996.50,20587.60,22100.10,10197.40,13655.20,14063.70,21799.20,...,15616.70,43075.40,13611.50,19541.50,42372.30,34502.20,64440.40,165176.00,56408.90,47559.30
ZZEF1|23140,5332.46,9364.42,9210.82,6321.28,8703.40,9577.96,8040.82,8076.90,9366.36,9578.34,...,10947.50,15371.80,8626.32,8168.92,11208.60,7845.28,9837.74,9715.26,13772.90,5357.90
ZZZ3|26009,2452.22,2986.18,4788.52,2025.34,3722.32,2884.50,3697.18,5077.84,2072.30,4125.34,...,4373.78,2374.28,2821.74,3226.08,3098.56,2486.90,1913.44,1419.48,2620.20,1045.34
psiTPTE22|387590,33.00,51.88,7.00,140.18,583.76,15.00,47.70,5.04,33.96,30.72,...,31.84,10.98,67.00,26.50,187.78,36.94,833.10,25.54,74.98,2.00
tAKR|389932,7.78,22.28,22.38,1.40,3.90,1.00,5.92,20.72,64.12,6.34,...,193.88,10.94,4.48,12.40,12.94,9.98,0.00,2.00,0.84,0.00

In [ ]:
rnaseq.info()

<class 'pandas.core.frame.DataFrame'>
Index: 20442 entries, 100132510 to 389932
Columns: 179 entries, TCGA-AB-2803 to TCGA-AB-2977
dtypes: float64(179)
memory usage: 28.1+ MB

In [ ]:
EGR1 = rnaseq.loc['EGR1|1958']
EGR1

TCGA-AB-2803    49180.90
TCGA-AB-2807    15683.60
TCGA-AB-2963    42690.40
TCGA-AB-2826    54782.00
TCGA-AB-2867     5576.04
                  ...
TCGA-AB-2920     2015.22
TCGA-AB-2841    10611.50
TCGA-AB-2811      989.94
TCGA-AB-2979    11462.50
TCGA-AB-2977    83258.10
Name: EGR1|1958, Length: 179, dtype: float64